In [142]:
import pandas as pd
from pathlib import Path

In [143]:
csv_path = Path('data_clean.csv')

In [144]:
accidents_velo_df = pd.read_csv(csv_path, sep=';')

In [145]:
# accidents_velo_df = accidents_velo_df[accidents_velo_df['sexe'] != '-1'].groupby(['an', 'sexe']).size().unstack(fill_value=0)
# accidents_velo_df.reset_index(inplace=True)
accidents_velo_df = accidents_velo_df[['an', 'sexe']][accidents_velo_df['sexe'] != '-1']
accidents_velo_df

         an      sexe
0      2005  Masculin
1      2005  Masculin
2      2005  Masculin
3      2005   Feminin
4      2005  Masculin
...     ...       ...
74753  2021  Masculin
74754  2021  Masculin
74755  2021  Masculin
74756  2021   Feminin
74757  2021  Masculin

[74757 rows x 2 columns]